<h1>Add a Show</h1>

<form action="/home" method="POST">
	<input type="text" name="title" placeholder="Show Title">
 	<input type="text" name="genre" placeholder="Genre">
	<input type="text" name="rating" placeholder="Your Rating">
	<input type="text" name="info" placeholder="Show Info">
	<input type="text" name="show_img_url" placeholder="Show Image URL">
	<button>Submit</button>
</form>