<div class="signup">
<h1>Sign up right now!</h1>

<form action="/users" method="POST">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="password">
  	<input type="password" name="password_confirmation" placeholder="password_confirmation">
	<input type="text" name="avatar_img"
	placeholder="Avatar Image URL">
	<button>Submit</button>
</form>
</div>