<h1>Add a Show</h1>

<form action="/home" method="POST">
	<input type="text" name="title" placeholder="Show Title">
	<!-- input type="text" name="genre_id" placeholder="Genre" -->

	<!-- instead of writing as html pull from the table of genre, and iterate through it based on the id.  -->
	


 	<input type="text" name="genre" placeholder="Genre">


	<!-- select name="genre">
		<option value="Action">Action</option>
		<option value="Comedy">Comedy</option>
		<option value="Drama">Drama</option>
		<option value="Horror">Horror</option>
		<option value="Mystery">Mystery</option>
		<option value="Romance">Romance</option>
		<option value="Thriller">Thriller</option>
	</select> -->
	<input type="text" name="rating" placeholder="Your Rating">
	<input type="text" name="info" placeholder="Show Info">
	<button>Submit</button>
</form>