
<h1 class="start">Welcome to Benito's TV Forum!</h1>

<h3 class="startup"><a href="/login">Sign In</a></h3>

<h3 class="startup"><a href="/users/new">Sign Up</a></h3>



<img id="login_img" src="/tv.png">

